<html>
   <body>
      <form action = "{{ url_for('new_user') }}" method = "POST">
         <h3>User Information</h3>
         First Name<br>
         <input type = "text" name = "fname" required/></br>

         Last Name<br>
         <input type = "text" name = "lname" required/></br>

         Email<br>
         <input type = "email" name = "email" required/></br>

         Password<br>
         <input type = "password" name = "pwd" minlength="8" required/></br>

         Age<br>
         <input type = "number" name = "age" required/></br>
         
         City<br>
         <input type = "text" name = "city" required/><br>

         Country<br>
         <input type = "text" name = "country" required/><br>
         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>